<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/myacademy.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.0/dist/chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <% include ./header.ejs %>
        <title>내 학원</title>
</head>

<body style="display:flex">
    <div style="width:5%">
        <% include ./sideBar.ejs %>
    </div>
    <div class="main">
        <div style="display: flex;">
            <div style="width: 25%;">
            </div>
            <div class="title">
                <%= academy_name %>
            </div>
            <p>
            <div class="academy_member">
                <a href="#ex1" rel="modal:open"><svg xmlns="http://www.w3.org/2000/svg" class="get-member"
                    style="cursor:pointer" viewBox="0 0 24 24" width="50" height="50"
                    style="fill: rgba(0, 0, 0, 1);">
                    <path
                        d="M12 2A10.13 10.13 0 0 0 2 12a10 10 0 0 0 4 7.92V20h.1a9.7 9.7 0 0 0 11.8 0h.1v-.08A10 10 0 0 0 22 12 10.13 10.13 0 0 0 12 2zM8.07 18.93A3 3 0 0 1 11 16.57h2a3 3 0 0 1 2.93 2.36 7.75 7.75 0 0 1-7.86 0zm9.54-1.29A5 5 0 0 0 13 14.57h-2a5 5 0 0 0-4.61 3.07A8 8 0 0 1 4 12a8.1 8.1 0 0 1 8-8 8.1 8.1 0 0 1 8 8 8 8 0 0 1-2.39 5.64z">
                    </path>
                    <path
                        d="M12 6a3.91 3.91 0 0 0-4 4 3.91 3.91 0 0 0 4 4 3.91 3.91 0 0 0 4-4 3.91 3.91 0 0 0-4-4zm0 6a1.91 1.91 0 0 1-2-2 1.91 1.91 0 0 1 2-2 1.91 1.91 0 0 1 2 2 1.91 1.91 0 0 1-2 2z">
                    </path>
                </svg></a>
            </div>
        </div>
        <% if(lc){ %>
            <div class="content">
                <div class="aca-content" onclick="$('#academys').slideUp()">
                    <div class="problem_part">
                        <div style="display:flex; height: 100px; width:80%;margin:auto">
                            <form action="/academy/get_particular_problem" method="POST" id="date"
                                onsubmit="send_particular_problem()">
                                <div style="width:30%;height:80px;line-height: 80px;">문제 검색하기 </div>
                                <input type="date" class="get_date">
                                <button type="submit" class="get_date_btn">확인</button>
                            </form>
                            <form action="/academy/inputpincode" method="POST" id='getPincode'>
                                <div style="width:30%;height:80px;line-height: 80px;">실시간 문제풀이</div>
                                <input type="text" placeholder="PIN 코드를 입력하세요" class="get_code">
                                <button type="submit" class="get_date_btn">확인</button>
                            </form>
                        </div>
                        <div class="problem_list">
                            <table>
                                <thead>
                                    <tr>
                                        <td>과목</td>
                                        <td>제목</td>
                                        <td>출제선생님</td>
                                        <td>수행시작</td>
                                        <td>수행종료</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            수학
                                        </td>
                                        <td>
                                            디미고 학생들을 위한 선물~
                                        </td>
                                        <td>류명희</td>
                                        <td>8월 15일</td>
                                        <td>8월 16일</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            국어
                                        </td>
                                        <td>
                                            국어의 최강자를 가린다. 디미리그에 참여하세요
                                        </td>
                                        <td>허관무</td>
                                        <td>11시 20분</td>
                                        <td>12시 20분</td>
                                    </tr>
                                </tbody>
                            <!-- <% if(!problems) { %> -->
                                </table>
                                <!-- <span>과제가 없습니다.</span>
                            <% } else { %>
                                    <tbody>
                                        <% for(let problem of problems) { %>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            <% } %> -->
                        </div>
                    </div>
                    <div class="right_rate">
                        <% if(lc.job=='student'){ %>
                            <div style="width:90%;margin:auto;height: 95%; position: relative; display: flex;flex-direction: column;">
                                <div style="border-radius: 20px; background: white; margin-top: 20px; height:100px; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                                    <div class="sub_title">
                                        문제 제목
                                    </div>
                                    <br>
                                    <div class="t_problem">
                                        출제자:
                                    </div>
                                </div>
                                <div class="sub_title_myinfo">
                                    <div style="height:50%;line-height: 30px;">총 푼 사람:</div>
                                    <div style="height:50%;line-height: 30px;">평균 푼 시간:</div>
                                </div>
                                <div class="chart">
                                    <label for="">동학년 <br>정답률</label>
                                    <canvas id="myChart1" width="180px" height="200px"></canvas>
                                    <label for="">내<br>정답률</label>
                                    <canvas id="myChart2" width="180px" height="200px"></canvas>
                                </div>
                                <div class="sub_title_supplement">
                                    <label for="">변형문제 풀기</label>
                                    <br>
                                    <img src="/images/수학.png" width="70%" height="100px" alt="">
                                    <br>
                                    <!-- HTML !-->
                                    <button class="button-82-pushable" role="button">
                                        <span class="button-82-shadow"></span>
                                        <span class="button-82-edge"></span>
                                        <span class="button-82-front text">
                                            풀기
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <% } else if(lc.job=='teacher') { %>
                                <div class="rback">
                                    <div class="qmake">
                                        <input type="button" value="문제 만들기" onclick="location.href = '/myacademy/<%= academy_id %>/makeProblem'">
                                        <input type="button" value="실시간 문제 질문 만들기">
                                        <input type="button" value="실시간 문제 시작">
                                    </div>
                                    <div class="applicant_student">
                                        <h3>신청한 학생</h3>
                                        <% if(applicant.length> 0) { %>
                                            <input type="button" value="모두 승인" data-ai="<%= academy_id %>"
                                                onclick="accept_all(this);" id="allAccept">
                                            <table id="stu_app">
                                                <thead>
                                                    <td>이름</td>
                                                    <td>아이디</td>
                                                    <td>나이</td>
                                                    <td>학년</td>
                                                    <td>승인</td>
                                                    <td>거절</td>
                                                </thead>
                                                <tbody id="appli_users">
                                                    <% for(let i of applicant) { %>
                                                        <% if(i.job=='student') { %>
                                                            <tr>
                                                                <td>
                                                                    <%= i.name %>
                                                                </td>
                                                                <td>
                                                                    <%= i.uid %>
                                                                </td>
                                                                <td>
                                                                    <%= i.age %>
                                                                </td>
                                                                <td>
                                                                    <%= kg[i.grade] %>
                                                                </td>
                                                                <td><input type="button" value="승인"
                                                                        data-idx="<%= i.id %>"
                                                                        data-ai="<%= academy_id %>" class="accbtn"
                                                                        onclick="user_accept(this);"></td>
                                                                <td><input type="button" value="거절"
                                                                        data-idx="<%= i.id %>"
                                                                        data-ai="<%= academy_id %>" class="rejbtn"
                                                                        onclick="user_reject(this);"></td>
                                                            </tr>
                                                        <% } %>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                        <% } else { %>
                                            <span class="no">신청한 사람이 없습니다.</span>
                                        <% } %>
                                    </div>
                                    <div class="applicant_teachers">
                                        <h3>신청한 선생님</h3>
                                        <% if(applicant.length> 0) { %>
                                            <input type="button" value="모두 승인" data-ai="<%= academy_id %>"
                                                onclick="teacher_accept_all(this);" id="t_allAccept">
                                            <table id="tea_app">
                                                <thead>
                                                    <td>이름</td>
                                                    <td>아이디</td>
                                                    <td>승인</td>
                                                    <td>거절</td>
                                                </thead>
                                                <tbody id="appli_teachers">
                                                    <% for(let i of applicant) { %>
                                                        <% if(i.job=='teacher' ) { %>
                                                            <tr>
                                                                <td>
                                                                    <%= i.name %>
                                                                </td>
                                                                <td>
                                                                    <%= i.uid %>
                                                                </td>
                                                                <td><input type="button" value="승인"
                                                                        data-idx="<%= i.id %>"
                                                                        data-ai="<%= academy_id %>"
                                                                        class="teacher_accbtn"
                                                                        onclick="teacher_accept(this);"></td>
                                                                <td><input type="button" value="거절"
                                                                        data-idx="<%= i.id %>"
                                                                        data-ai="<%= academy_id %>" class="user_rejbtn"
                                                                        onclick="teacher_reject(this);"></td>
                                                            </tr>
                                                        <% } %>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                        <% } else { %>
                                            <span class="no">신청한 사람이 없습니다.</span>
                                        <% } %>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                <% } %>
                <div id="ex1" class="modal">
                    <table style="width:100%;text-align: center;">
                        <thead style="width:100%;font-weight: bold;">
                            <tr style="width:100%">
                                <td style="width:30%">번호</td>
                                <td style="width:70%">이름</td>
                            </tr>
                        </thead>
                        <tbody style="width:100%">
                            <% for(let i in users_data){%>
                                <tr style="width:100%">
                                    <td style="width:30%">
                                        <%= String(Number(i)+1) %>
                                    </td>
                                    <td style="width:70%">
                                        <%= users_data[i].name %>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
    </div>
    <% if(lc.job=='teacher' ) { %>
        <script>
            let appli_users = document.getElementById("appli_users");
            let appli_teachers = document.getElementById("appli_teachers");
            function user_accept(btn) {
                let userId = btn.dataset.idx;
                let ai = btn.dataset.ai;
                let xhr = new XMLHttpRequest();
                xhr.open('POST', '/academy/accept');
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onreadystatechange = () => {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        appli_users.removeChild(btn.parentNode.parentNode)
                        if (appli_users.children.length == 0) {
                            let stu_app = document.getElementById("stu_app");
                            let all_acc = document.getElementById("allAccept");
                            let applicant_student = document.querySelector(".applicant_student");
                            applicant_student.removeChild(stu_app);
                            applicant_student.removeChild(all_acc);

                            let nospan = document.createElement("span");
                            nospan.classList.add("no");
                            nospan.innerHTML = "신청한 사람이 없습니다.";
                            applicant_student.appendChild(nospan);
                        }
                    } else if (xhr.readyState === 4) {
                        let data = JSON.parse(xhr.responseText);
                        alert(data.msg);
                    }
                }
                xhr.send(JSON.stringify({
                    academy_id: ai,
                    applicant_id: userId
                }));
            }
            function teacher_accept(btn) {
                let userId = btn.dataset.idx;
                let ai = btn.dataset.ai;
                let xhr = new XMLHttpRequest();
                xhr.open('POST', '/academy/t_accept');
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onreadystatechange = () => {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        appli_teachers.removeChild(btn.parentNode.parentNode)
                        if (appli_teachers.children.length == 0) {
                            let stu_app = document.getElementById("tea_app");
                            let all_acc = document.getElementById("t_allAccept");
                            let applicant_teachers = document.querySelector(".applicant_teachers");
                            applicant_teachers.removeChild(stu_app);
                            applicant_teachers.removeChild(all_acc);

                            let nospan = document.createElement("span");
                            nospan.classList.add("no");
                            nospan.innerHTML = "신청한 사람이 없습니다.";
                            applicant_teachers.appendChild(nospan);
                        }
                    } else if (xhr.readyState === 4) {
                        let data = JSON.parse(xhr.responseText);
                        alert(data.msg);
                    }
                }
                xhr.send(JSON.stringify({
                    academy_id: ai,
                    applicant_id: userId
                }));
            }
            function user_reject(btn) {
                let userId = btn.dataset.idx;
                let ai = btn.dataset.ai;
                let xhr = new XMLHttpRequest();
                xhr.open('POST', '/academy/reject');
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onreadystatechange = () => {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        appli_users.removeChild(btn.parentNode.parentNode);
                        if (appli_users.children.length == 0) {
                            let stu_app = document.getElementById("stu_app");
                            let all_acc = document.getElementById("allAccept");
                            let applicant_student = document.querySelector(".applicant_student");
                            applicant_student.removeChild(stu_app);
                            applicant_student.removeChild(all_acc);

                            let nospan = document.createElement("span");
                            nospan.classList.add("no");
                            nospan.innerHTML = "신청한 사람이 없습니다.";
                            applicant_student.appendChild(nospan);
                        }
                    } else if (xhr.readyState === 4) {
                        let data = JSON.parse(xhr.responseText);
                        alert(data.msg);
                    }
                }
                xhr.send(JSON.stringify({
                    academy_id: ai,
                    applicant_id: userId
                }));
            }
            function teacher_reject(btn) {
                let userId = btn.dataset.idx;
                let ai = btn.dataset.ai;
                let xhr = new XMLHttpRequest();
                xhr.open('POST', '/academy/reject');
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onreadystatechange = () => {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        appli_teachers.removeChild(btn.parentNode.parentNode);
                        if (appli_teachers.children.length == 0) {
                            let stu_app = document.getElementById("stu_app");
                            let all_acc = document.getElementById("allAccept");
                            let applicant_student = document.querySelector(".applicant_student");
                            applicant_student.removeChild(stu_app);
                            applicant_student.removeChild(all_acc);

                            let nospan = document.createElement("span");
                            nospan.classList.add("no");
                            nospan.innerHTML = "신청한 사람이 없습니다.";
                            applicant_student.appendChild(nospan);
                        }
                    } else if (xhr.readyState === 4) {
                        let data = JSON.parse(xhr.responseText);
                        alert(data.msg);
                    }
                }
                xhr.send(JSON.stringify({
                    academy_id: ai,
                    applicant_id: userId
                }));
            }
            function accept_all() {
                let check = confirm('모두 승인하시겠습니까?');
                if (check) {
                    let btns = document.querySelectorAll(".accbtn");
                    for (let btn of btns) {
                        btn.click();
                    }
                }
            }
            function teacher_accept_all() {
                let check = confirm('모두 승인하시겠습니까?');
                if (check) {
                    let btns = document.querySelectorAll(".teacher_accbtn");
                    for (let btn of btns) {
                        btn.click();
                    }
                }
            }
        </script>
    <% } %>
    <script>
        let updown = false
        let date = new Date()
        function click_this_academy(a) {

            $('#academys').slideUp()
        }
        function updown_func() {
            if (updown == false) {
                console.log('good')
                $('#academys').slideUp();
                updown = true
            } else if (updown == true) {
                $('#academys').slideDown();
                updown = false
            }
        }
        function send_particular_problem() {
            console.log(document.querySelector(".get_date").value)
            // let xhr = new XMLHttpRequest()
            // xhr.open('POST', '/academy/get_particular_problem')
            // xhr.setRequestHeader("Content-Type", 'application/json')
            // xhr.onreadystatechange = () => {
            //     if (xhr.status === 200 && xhr.readyState === 4) {
            //         console.log(JSON.parse(xhr.responseText))
            //     }
            //     else if (xhr.readyState === 4) {
            //         alert(JSON.parse(xhr.responseText).msg)
            //     }
            // }
            // xhr.send(JSON.stringify({
            //     date : document.querySelector(".get_date").value
            // }))
        }

        document.querySelector('.get-member').addEventListener('click', () => {
            let xhr = new XMLHttpRequest()
            xhr.open("POST", '/academy/')
            xhr.setRequestHeader("Content-Type", "application/json")
            xhr.onreadystatechange = () => {
                if (xhr.readyState === 4 && xhr.status === 200) {

                }
            }
            xhr.send(JSON.stringify({

            }))
        })
    </script>
    <% if(lc.job=='student' ) { %>
        <script>
            var ctx = document.getElementById('myChart1').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['a', 'b'],
                    datasets: [{
                        label: '퍼센트별 분포위치',
                        data: [12, 19],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: false,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

            var ctx = document.getElementById('myChart2').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['a', 'b'],
                    datasets: [{
                        label: '퍼센트별 분포위치',
                        data: [12, 19],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: false,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>
    <% } %>
</body>

</html>